html {
    min-height: 100svh;
}
@font-face {
    font-family: 'CustomFont';
    src: url("../Phudu/Phudu-VariableFont_wght.ttf") format('truetype'),
}
body {
    margin: 0;    
}

.container {
    display: flex;
    height: 100vh;
}

.side-image {
    display: flex;
    background-image: url("../side-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    width: 35vw;
}

.side-image h1 {
    display: flex;
    justify-content: center;
    font-family: 'CustomFont', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: -2px;
    color: rgb(190, 26, 20);
    background-color: rgba(0, 0, 0, 0.132);
    padding: 0;
    margin-top: 33%; 
    height: fit-content;
    width: 35vw;  
}

.center{
    width:100%;

}

.first {
    background-color: rgba(227, 203, 142, 0.158);
    height: 37vh;
   
}

.first h3 {    
    margin-top: 0;
    margin-bottom: 2%;
    margin-left: 2%;
    padding-top: 2rem;
    padding-bottom: 2.8rem;
    font-family: 'CustomFont', sans-serif;
    font-size: 1.5rem;
    font-weight:600;
    letter-spacing: 0,2px;
}

.second {
    background-color: rgba(0, 0, 0, 0.132);
    box-shadow: 2px 5px #E5E7EB;
    height: 38vh;
}

.second h3 {
    margin-top: 0;
    margin-left: 2%;
    padding-top: 1rem;
    font-family: 'CustomFont', sans-serif;
}

.form-main{
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    width: 55%;
    justify-content: space-between;
}

.form-div{
    display: flex;
    flex-direction: column;
    font-family: 'CustomFont', sans-serif;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.third{
   height: 25vh;
   background-color: rgba(227, 203, 142, 0.158);

}

.third button{
    margin-left: 2%;
    margin: 3%;
    background-color: rgba(0, 0, 0, 0.132);
    color: rgb(190, 26, 20);
    height: 35px;
    width: 175px;
    border-radius: 6px;
    font-family: 'CustomFont', sans-serif;
    font-weight: bolder;
    font-size: small;
    box-shadow: 2px 5px #E5E7EB;
}

.login{
    margin-left: 2%;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        width:100%;
    } 
    .side-image{
        width: 100vw;
        height: 28vh;
    }
    .first {
        height: 27vh;
    }
    .second{
        height: 25vh;
    }
    .third{
        height: 20vh;
    }    
    .side-image h1{
        justify-content:flex-start;
        width: 100%;
        font-size: 3rem;
    }
    .center{
        width: 100%;
    }
}