html {
    min-height: 100svh;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }    
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100svh;
}

.side-image {
    display: flex;
    background-image: url("../side-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    min-width: 25%;
    background-color: aquamarine;
}

.title{
    width: 100%;
}

.title h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -3px;
    color: rgb(190, 26, 20);
    background-color: rgba(250, 235, 215, 0.58);
    padding: 0.3em;
    margin-top: 7rem;
}

.center{
    width:100%;
}

.first {
    background-color: rgba(250, 235, 215, 0.391);
   
}

.first h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 2.7rem;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 30%;
}

.second {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.261);
}

.second h3 {
    margin-top: 0;
    padding: 2.7rem;
    padding-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.form-divs {
    display: flex;
}
