html {
    min-height: 100svh;
}
@font-face {
    font-family: 'CustomFont';
    src: url("../Phudu/Phudu-VariableFont_wght.ttf") format('truetype'),
    url("../Phudu/Phudu-VariableFont_wght.ttf") format('truetype');
    -webkit-font-smoothing: antialiased; /* For better font rendering on WebKit browsers */
    -moz-osx-font-smoothing: grayscale; /* For better font rendering on macOS Firefox */
}
body {
    margin: 0;    
}
.container {
    display: flex;
    height: 100vh;
}
.side-image {
    position: relative;
    display: flex;
    background-image: url("../side-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    width: 46vw;
}
.side-image h1 {
    position: absolute;
    top: 24.8%;
    left: 0.2%; 
    font-family: 'CustomFont', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: -2px;
    color:rgb(84, 143, 17);
    text-shadow: 
        -2px -2px 0 #ffffff,  
         2px -2px 0 #ffffff,
        -2px  2px 0 #ffffff,
         2px  2px 0 #ffffff;
    background-color: rgba(0, 0, 0, 0.132);
    padding-left: 1.5rem;    
    height: fit-content;
    width: 30vw;  
}
.center{
    width:100%;
}
.first {
    background-color: rgba(227, 203, 142, 0.158);
    height: 30vh;   
}
.first h3 {    
    margin-top: 0;
    margin-left: 2%;
    margin-bottom: 0;
    padding-top: 4rem;
    padding-bottom: 0.8rem;
    font-family: 'CustomFont', sans-serif;
    font-size: 1.5rem;
    font-weight:400;
    letter-spacing: 0,3px;
}
.second {
    background-color: rgba(0, 0, 0, 0.132);
    box-shadow: 2px 5px #E5E7EB;
    height: 45vh;
}
.second h3 {
    margin-top:0;
    margin-left: 5%;
    padding-top: 1rem;
    font-family: 'CustomFont', sans-serif;
}
.form-main{
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    width: 55%;
    justify-content: space-between;
}
.form-div{
    display: flex;
    flex-direction: column;
    font-family: 'CustomFont', sans-serif;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.third{
   height: 25vh;
   background-color: rgba(227, 203, 142, 0.158);
}
.third button{
    margin-left: 5%;
    margin-top: 6%;
    margin-bottom: 3%;
    background-color: rgba(0, 0, 0, 0.132);
    color: rgb(84, 143, 17);
    height: 35px;
    width: 175px;
    border-radius: 6px;
    font-family: 'CustomFont', sans-serif;
    font-weight: bolder;
    font-size: small;
    box-shadow: 2px 5px #E5E7EB;
}
.login{
    margin-left: 2%;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        width:100%;
    } 
    .side-image{
        width: 100vw;
        height: 30vh;
    }   
    .first{
        height: 27vh;
    }
    .first h3{
            padding-top: 1rem;
            padding-bottom: 1rem; /* Added padding-bottom to ensure space */
            font-size: 1.3rem;
            line-height: 1;
            margin-top: 0; /* Reset margin */
            margin-bottom: 0; /* Reset margin */
    }
    .second{
        height: 30vh;
    }
    .third{
        height: 13vh;
    }    
    .side-image h1{
        align-items: center;
        width: 97%;
        font-size: 3rem;
        padding-left: 8px;
    }
    .center{
        width: 100%;
    }
    .form-main{
        margin-left: 3%;
    }
}